.menu {
  position: absolute;
  width: 60vw;
  height: 100vh;
  left: 0;
  top: 0;
  transition: 0.4s;
  background: red;
  transform: translateX(-60vw);

  &.active {
    transform: translateX(0) !important;
  }

}
